body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
  }
  #root{
    --primary-color : #0B307D;
  }


  .Login{
    box-sizing: content-box;
    width:250px;
    background-color: white;
    padding: 20px 55px 85px 55px;
    border-radius: 15px;
    translate: 0 -40px;
    box-shadow:
    -30px 1px 69px #0000001a,
    -20px 20px 37px rgba(0, 0, 0, 0.11), 
    -10px 15px 30px rgba(0, 0, 0, 0.33);
  }
  .Login .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    width: 100%;
  }
  
  h3 {
    font-weight: 550;
    color: var(--primary-color);
  }
  
  .Login .icon svg {
    height: 85px;
    width: 85px;
    color: var(--primary-color);
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  .inputBox{
    width: 100%;
    padding-bottom: 20px;
  }
  .fieldBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; 
  }
  
  .Login p {
    font-family: 'poppins',sans-serif;
    font-size: 0.7em;
    padding: 5px 10px 0 0;
    text-align: right;
    font-size: 10px;
  }
  
  span{
    font-weight: 600;
  }